@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.icons {
  color: black;
  opacity: 0.6;
}
.icons:hover {
  color: blue;
}
#root {
  text-align: left;
  flex-grow: 0;
  min-height: 100%;
  overflow: auto;
}
#root,
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background: #ffff;
  overflow: hidden;
}

.mainWrapper,
body {
  min-height: 100%;
  height: inherit;
  /*  background: url( /images/18238.jpg ) no-repeat center center fixed; */
  background-color: rgb(231, 223, 212);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
body {
  margin: 0;
  widows: 100%;
  overflow: auto;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overscroll-behavior: contain;
}
.app.js-content {
  padding-top: 6vw;
}

.wrapper.navigate {
  height: 100%;
}

.menu.js-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  height: 3vw;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  padding: 5px 15px;
  list-style: none;
  margin: 0px;
  background: rgb(255, 255, 255);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu.js-content li.js-content {
  display: inline-block;
  width: 33.3333%;
  text-align: center;
}
.menu.js-content li.js-content.logout {
  width: 49.3333%;
}
.row {
  margin-top: 2vw;
  justify-content: center;
}
#profile {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: auto;
  margin-top: 2vw;
}
.but-profile {
  justify-content: center;
}
.buttons-edit {
  margin: auto;
  margin-bottom: 3vw;
}
.buttons-logout {
  margin: auto;
}
.row {
  margin-left: 4vw;
  margin-right: 4vw;
}
.btn-group-vertical {
  margin: auto;
  align-items: unset;
  text-align: center;
}
.techs {
  display: flex;
}
.childrenTechs {
  flex-direction: row;
  margin: auto;
  background-color: #eee;
  padding: 1vw 6vw;
}
.titles{
  margin-top: 2vw;
  text-align: center;
}
.container{
  padding-left: 0;
  padding-right: 0;
}
.tags{
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.button-options{
  margin: auto;
}
@media (min-height: 1000px) and (min-width: 600px) {
  #root {
    height: 900px;
  }
}
@media (min-height: 900px) and (min-width: 600px) {
  #root {
    height: 800px;
  }
}
@media (min-height: 800px) and (min-width: 600px) {
  #root {
    height: 700px;
  }
}

@media (min-width: 600px) {
  #root {
    width: 465px;
    height: 600px;
    min-height: auto;
    margin: auto;
    overflow: auto;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
    border-radius: 12px;
  }
}
@media (min-width: 300px) and (max-width: 590px) {
  .menu.js-content {
    height: 9vw;
  }
}
@media (min-width: 600px) {
  body {
    position: relative;
  }
  .mainWrapper {
    padding-top: 50px;
  }
  .cover {
    overflow: auto;
    justify-content: flex-start;
  }
  .app.js-content {
    display: flex;
    padding-top: 0px;
  }
  .menu.js-content {
    left: auto;
    top: auto;
    position: relative;
    flex: 0 1 0%;
  }
}
/* .App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  padding: 20px;
  background: #686de0;
}

nav.navbar .navbar-user {
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
} */
