@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.picture {
  background: url(/images/2250.jpg) no-repeat center center fixed;
  height: 45vw;
}
.title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 1vw 2vw;
}
.link {
  text-align: center;
}
.icons {
  color: black;
  opacity: 0.6;
}
.icons:hover {
  color: green;
}
#root {
  text-align: left;
  flex-grow: 0;
  min-height: 100%;
  overflow: auto;
}
#root,
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background: #ffff;
  overflow: hidden;
}

.mainWrapper,
body {
  min-height: 100%;
  height: inherit;
  background: url(/images/bg3.png) no-repeat center center fixed;
  /* background-color: rgb(231, 223, 212); */
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
body {
  margin: 0;
  widows: 100%;
  overflow: auto;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overscroll-behavior: contain;
}
.app.js-content {
  padding-top: 6vw;
}

.wrapper.navigate {
  height: 100%;
}

.menu.js-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  height: 3vw;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  padding: 5px 15px;
  list-style: none;
  margin: 0px;
  background: rgb(255, 255, 255);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu.js-content li.js-content {
  display: inline-block;
  width: 33.3333%;
  text-align: center;
}
.menu.js-content li.js-content.logout {
  width: 49.3333%;
}
.row {
  margin-top: 2vw;
  justify-content: center;
}
#profile {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: auto;
  margin-top: 2vw;
}
.profile-btn-wrapper {
  background-color: rgb(246, 246, 246);
  margin: 0 !important;
  padding-top: 20px;
}
.but-profile {
  justify-content: center;
}
.buttons-edit {
  margin: auto;
  margin-bottom: 3vw;
}
.buttons-logout {
  margin: auto;
}
.row {
  margin-left: 4vw;
  margin-right: 4vw;
}
.btn-group-vertical {
  margin: auto;
  align-items: unset;
  text-align: center;
}

.profile-button {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
}

.profile-button:hover {
  background-color: white;
  width: 42%;
  margin: auto;
  margin-bottom: 20px;
}
.techs {
  display: flex;
}
.childrenTechs {
  flex-direction: row;
  margin: auto;
  background-color: #eee;
  padding: 1vw 3vw;
}
.titles {
  margin-top: 2vw;
  text-align: center;
}
.job-title h3 {
  text-align: center;
  font-weight: bold;
  flex-direction: row;
}

.job-title {
  padding: 30px 0;
  background-image: url("/images/double-bubble-outline.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.tech-header {
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
  margin: 0;
  background-color: #eee;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.main-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 20px 0;
}
.main-category-btn {
  height: 100px;
  width: 40%;
  font-weight: bold;
}

.search-title {
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
  background-image: url("/images/double-bubble-outline.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.search-content {
  text-align: center;
}

.trash-btn {
  background: none;
  border-color: none;
  color: rgb(206, 67, 67);
  border-style: none;
  padding-bottom: 10px;
}

.search-content {
  text-align: center;
}

.tags-wrapper {
  height: 300px;
}
.check {
  background-color: #71a158;
  margin-right: 2vw;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-color: rgb(100, 100, 100);
  width: 100%;
}
.button-options {
  margin: auto;
  width: 100%;
  background-color: #eee !important;
  color: black;
  font-weight: bold;
  border-bottom: 20px;
}
.button-options:before {
  color: black;
}

.tech-name {
  font-weight: bold;
  color: rgb(58, 58, 58);
  padding-top: 10px;
}

.portfolio-list {
  padding: 0 0 0 25px !important;
}

.portfolio-item {
  background-color: rgb(246, 246, 246);
  padding: 0 20px;
  margin: 10px 0;
  width: 95%;
}

.button-options:hover {
  background-color: rgb(85, 199, 100) !important;
  color: #fff;
  font-weight: bold;
}
.form-control {
  border: none;
}
.technologies {
  flex-direction: row;
}
#login {
  margin-bottom: 3vw;
}

@media (min-height: 1000px) and (min-width: 600px) {
  #root {
    height: 900px;
  }
}
@media (min-height: 900px) and (min-width: 600px) {
  #root {
    height: 800px;
  }
}
@media (min-height: 800px) and (min-width: 600px) {
  #root {
    height: 700px;
  }
}

@media (min-width: 600px) {
  #root {
    width: 465px;
    height: 600px;
    min-height: auto;
    margin: auto;
    overflow: auto;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
    border-radius: 12px;
  }
}
@media (min-width: 300px) and (max-width: 590px) {
  .menu.js-content {
    height: 9vw;
  }
}
@media (min-width: 600px) {
  body {
    position: relative;
  }
  .mainWrapper {
    padding-top: 50px;
  }
  .cover {
    overflow: auto;
    justify-content: flex-start;
  }
  .app.js-content {
    display: flex;
    padding-top: 0px;
  }
  .menu.js-content {
    left: auto;
    top: auto;
    position: relative;
    flex: 0 1 0%;
  }
}
/* .App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  padding: 20px;
  background: #686de0;
}

nav.navbar .navbar-user {
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
} */
